/*******************************/
/*********** OVERALL ***********/
/*******************************/

@media (max-width: 768px) {
  body {
    padding: 0 16px;
  }
}

/***************************/
/****** STICKY HEADER ******/
/***************************/

#header-content {
  position: sticky;
  top: 0;
  z-index: 100;
  transition: opacity 0.3s ease;
  @media (max-width: 768px) {
    position: static;
  }
}

/**************************/
/****** HERO SECTION ******/
/**************************/
.hero-wrapper {
  height: calc(100vh - 122.7px);
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    height: calc(100vh - 192.69px);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
}
.hero {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.hero__dots {
  position: absolute;
  bottom: 2rem;
  right: 2rem; /** décalé à droite pour laisser place à la flèche **/
  display: flex;
  gap: 20px;
  z-index: 10;
}

.hero__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fefbf8;
  border: 1px solid #fefbf8;
  cursor: pointer;

  &.is-active {
    background: transparent;
  }
}

.hero__project-info-container {
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  text-transform: uppercase;
  color: #3b3029;
  padding-top: 10px;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
    font-size: 1rem;
    align-items: flex-end;
    padding-right: 10px;
  }
}

.project__location {
  font-weight: 200;
}

.project__title,
.project__location {
  transition: opacity 0.5s ease;
  @media (max-width: 768px) {
    height: fit-content;
    margin: 0;
  }
}

.hero__scroll-down {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
}

/****************************************/
/****** PROJECTS HIGHLIGHTS SECTION ******/
/****************************************/

.projects-highlights {
  padding-top: 200px;
  @media (max-width: 768px) {
    padding-top: 80px;
  }
  .picture-hover {
    opacity: 0;
    pointer-events: none;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__carousel-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 70px;
    padding-bottom: 70px;
  }
  &__carousel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 200px;
    width: 100%;
    &__cards-wrapper {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 60px;
      height: 530px;
      @media (max-width: 768px) {
        flex-flow: column nowrap;
        height: auto;
        gap: 30px;
      }
    }
    &-project__navigation {
      display: flex;
      flex-flow: column nowrap;
      align-self: flex-end;
      gap: 0px;
      @media (max-width: 768px) {
        display: none;
      }
      & .is-disabled {
        color: #89817c;
        cursor: default;
      }
    }
    &__card {
      height: 100%;
      transition: all 0.4s ease;
      @media (max-width: 768px) {
        height: 250px;
        width: 100%;
      }

      &.is-active {
        flex-grow: 3;
        height: 100%;
        flex-basis: 440px;
        @media (max-width: 768px) {
          width: 100%;
          height: auto;
          flex-grow: unset;
          flex-basis: unset;
        }
        .picture-hover {
          pointer-events: auto;
          &:hover {
            opacity: 1;
          }
        }
      }
      &.is-inactive {
        flex-grow: 1;
        height: 400px;
        flex-basis: 320px;
        @media (max-width: 768px) {
          width: 100%;
          height: auto;
          flex-grow: unset;
          flex-basis: unset;
        }
      }
      &__picture {
        overflow: hidden;
        height: 100%;
        position: relative;
        @media (max-width: 768px) {
          height: 400px;
        }
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &__title {
        margin-top: 18px;
        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}

.arrow-wrapper {
  padding: 6px 0;
}

/****************************************/
/****** ATELIER HIGHLIGHTS SECTION ******/
/****************************************/
.atelier-highlights {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: 70px;
  padding: 150px 0 100px;
  @media (max-width: 768px) {
    padding: 100px 0 80px;
  }
  &__informations-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__informations {
    min-width: 400px;
    flex: 1;
    @media (max-width: 768px) {
      width: 100%;
    }
    & ul {
      padding: 0;
    }
    & li {
      list-style-type: none;
      text-align: left;
    }
  }
  &__informations:first-child {
    padding-right: 15px;
    @media (max-width: 768px) {
      padding-right: 0;
      padding-bottom: 40px;
    }
  }
  &__informations:nth-child(2) {
    @media (max-width: 768px) {
      padding: 40px 0;
    }
  }
  &__informations:not(:first-child) {
    border-left: 0.5px solid #3b3029;
    padding-left: 15px;
    @media (max-width: 768px) {
      border-left: 0;
      border-top: 0.5px solid #3b3029;
      padding-left: 0;
      padding-top: 40px;
    }
  }
}
.informations-title {
  font-size: 1.125rem;
}

.informations-item {
  font-size: 1rem;
  font-weight: 200;
}
