/*******************************/
/*********** OVERALL ***********/
/*******************************/

@media (max-width: 768px) {
  body {
    padding: 0 16px;
  }
}

/**************************/
/****** HERO SECTION ******/
/**************************/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
/*****************************/
/****** SECTION SECTION ******/
/*****************************/

.projects-highlights {
  &__carousel-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 70px;
    padding-bottom: 70px;
  }
  &__carousel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 200px;
    width: 100%;
    &__cards-wrapper {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 60px;
      height: 530px;
    }
    &-project__navigation {
      display: flex;
      flex-flow: column nowrap;
      align-self: flex-end;
      gap: 20px;
      & .is-disabled {
        color: #89817c;
        cursor: default;
      }
    }
    &__card {
      height: 100%;
      transition: all 0.4s ease;
      &.is-active {
        flex-grow: 3;
        height: 100%;
        flex-basis: 440px;
        .picture-hover {
          pointer-events: auto;
          &:hover {
            opacity: 1;
          }
        }
      }
      &.is-inactive {
        flex-grow: 1;
        height: 400px;
        flex-basis: 320px;
      }
      &__picture {
        overflow: hidden;
        height: 100%;
        position: relative;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &__title {
        margin-top: 18px;
      }
    }
  }
}

.picture-hover {
  opacity: 0;
  pointer-events: none;
}

/****************************************/
/****** ATELIER HIGHLIGHTS SECTION ******/
/****************************************/
.atelier-highlights {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  gap: 70px;
  padding: 150px 0 100px;

  &__informations-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__informations {
    min-width: 400px;
    flex: 1;
    @media (max-width: 768px) {
      width: 100%;
    }
    & ul {
      padding: 0;
    }
    & li {
      list-style-type: none;
      text-align: left;
    }
  }
  &__informations:first-child {
    padding-right: 15px;
    @media (max-width: 768px) {
      padding-right: 0;
      padding-bottom: 40px;
    }
  }
  &__informations:nth-child(2) {
    @media (max-width: 768px) {
      padding: 40px 0;
    }
  }
  &__informations:not(:first-child) {
    border-left: 0.5px solid #3b3029;
    padding-left: 15px;
    @media (max-width: 768px) {
      border-left: 0;
      border-top: 0.5px solid #3b3029;
      padding-left: 0;
      padding-top: 40px;
    }
  }
}
.informations-title {
  font-size: 1.125rem;
}

.informations-item {
  font-size: 1rem;
  font-weight: 200;
}
