@import "header.scss";
@import "footer.scss";
@import "atelier.scss";
@import "projects.scss";
@import "index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DM-sans";
  src: url(../font/DMSans-VariableFont_opsz\,wght.ttf);
}

body {
  font-family: "DM-sans";
  font-size: 18px;
  background-color: #fefbf8;
  color: #3b3029;
  padding: 0 50px;
}
h1 {
  font-size: 64px;
  text-transform: lowercase;
  font-weight: lighter;
}

h2 {
  font-size: 48px;
  text-transform: lowercase;
}
h3 {
  font-size: 36px;
  text-transform: uppercase;
}
